<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Вопрос <br>
    <%= f.text_field :text%>
  </div><%= f.hidden_field :test_id%>
    <br>

  <div class="actions">
    <%= f.submit  'Далее', class:'btn btn-warning'%>
  </div>
<% end %>
