<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @question.test_id %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @question.flag %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
