<h3>Управление системой</h3>
<div class="row">
  <div class="col-md-3">
    <ul>
      <li><%= link_to "Тесты", tests_path %></li>
      <li><%= link_to "Группы", groups_path %></li>
      <li><%= link_to "Ученики", users_path %></li>
    </ul>
  </div>
  <div class="col-md-8">

  </div>
</div>
