<div class="auth">
  <%= current_user.name %>
  <%= link_to 'Выйти', destroy_user_session_path, method: :delete%>
</div>
<style>
  .auth{
    position: absolute;
    top:20px;
    right:20px;
  }
</style>