<div class="text-center">
<h3>Кто Вы?</h3>
  <%= link_to "Новый ученик", new_user_registration_path, class: "btn btn-success" %>
  <%= link_to "Бывалый ученик", new_user_session_path, class: "btn btn-success"  %>
  <%= link_to "Преподователь", admin_index_path, class: "btn btn-success" %>

</div>