<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Вариант ответа <br>
    <%= f.text_field :text %>
    <%= f.hidden_field :question_id, value: params[:question_id] %>
  </div>

  <div class="field">

    <%= f.label :flag, "Верно?", :for => "answer_flag" %>
    <%= f.check_box(:flag, {}, "1", "0")%>

  </div>
  <div class="actions">
    <%= f.submit 'Сохранить', class:'btn btn-warning' %>
  </div>
<% end %>
