<div class="row">
  <div class="col-sm-3">
    <h4>Мои тесты</h4>
    <ul>
      <% @tests.each do |item|%>
        <li><%= item.test.text %> <%= link_to 'Пройти', start_test_path(item.test_id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-9">

  </div>
</div>
