<h3>Тест: <%= @test.text %> </h3>
<br>
<h4><i>Вопрос:</i> <%= @question.text %></h4>

<br>
<strong>Варианты ответов</strong>

<br><div class="right"></div><br>
<div class="form">
  <%= form_tag( answer_for_test_path(@test.id), method: :post, remote: true) do %>
      <%= collection_radio_buttons(:answer, :id, @question.answers.all, :id, :text, html_options: { class: 'form-control' }) do |b| %>
          <%= b.label { b.radio_button + " " + b.text } %><br>
      <% end %>
      <br>
  <%= button_tag 'Ответить', type: 'submit', class: 'btn btn-success' %>
  <% end %>
</div>
<br>
<div class="next">
  <%= link_to 'Далее', start_test_path(@test.id), class: 'btn btn-success'%>
</div>
<style>
  .next{
    display:none;
  }
</style>