<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2>Обнаружены ошибки:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Название <br>
    <%= f.text_field :text%>
  </div>
    <br>
    <div class="field">
      Возможное количество неправильных ответов  <br>
      <%= f.text_field :credit %>
    </div>
    <br>
  <div class="actions">
    <%= f.submit  'Далее', class:'btn btn-warning'%>
  </div>
<% end %>
