<%= form_for(@test.questions.build) do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :test_id %><br>
      <%= f.number_field :test_id %>
    </div>
    <div class="field">
      <%= f.label :flag %><br>
      <%= f.number_field :flag %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
