<h3>Тесты <%= link_to '+', new_test_path, class: 'btn btn-success' %></h3>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Кол-во вопросов</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= link_to test.text, test %></td>
        <td><%= test.questions.count %></td>

        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


