
<h3><%= link_to 'Тест', tests_path %> / <%= @test.text %></h3>

<h4>Вопросы <%= link_to '+', new_question_path(test_id:@test.id), class: 'btn btn-success' %></h4>
<table class="table">
  <tbody>
  <% @test.questions.each do |question| %>
      <tr>
        <td>
          <a name="h<%=question.id%>"></a>
          <strong><%= question.text %> </strong>
          <ul>
             <% question.answers.each do |answer| %>
                <li <%= 'style=color:green' if answer.flag == 1 %> ><%= answer.text %> - <%= link_to 'del', answer, method: :delete, data: { confirm: 'Are you sure?' } %></li>

            <% end %>
        </ul>
        </td>

        <td><%= link_to '+ вариант', new_answer_path(question_id: question.id) %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h4>Выбор групп и учеников для теста </h4>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <% @groups.each do |item| %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= item.id %>">
      <h4 class="panel-title">
        <div class="pull-right">
        <%= form_tag( check_all_user_at_group_test_path, method: :post, remote: true)  do %>
              <%= hidden_field_tag 'group_id', item.id %>

          <%= button_tag 'Выбрать всех', type: 'submit', class: 'btn btn-success btn-xs', id:'ba' + item.id.to_s %>
        <% end %>
        </div>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= item.id %>" aria-expanded="true" aria-controls="collapse<%= item.id %>">
          Группа: <%= item.name %> (<%=item.users.count%> учеников)
        </a>
      </h4>
    </div>
    <div id="collapse<%= item.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= item.id %>">
      <div class="panel-body">
        <table class="table">
        <% item.users.each do |user| %>
              <%= form_tag( check_user_for_test_path, method: :post, remote: true)  do %>

                  <%= hidden_field_tag 'user_id', user.id %>

              <tr id="u<%= user.id %>" class="g<%=  item.id %> <%= check_user user.id, @test.id %>"><td><%= user.name %></td><td> <%= button_tag 'Выбрать', type: 'submit', class: 'btn btn-success btn-xs bb' + item.id.to_s, id:"b"+user.id.to_s %></td></tr>
              <% end %>
        <% end %>
        </table>
      </div>
    </div>
  </div>

  <% end %>


</div>

