<!DOCTYPE html>
<html>
<head>
  <title>MyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<br>
<h1>Тесты для Всех!</h1>
<hr>
<%= yield %>
  <%= render "shared/auth" if user_signed_in? %>
</div>
</body>
</html>
