<!DOCTYPE html>
<html>
<head>
  <title>MyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <br>
  <h1>Управление системой</h1>
  <hr>

  <div class="row">
    <div class="col-md-3">
      <ul>
        <li><%= link_to "Тесты", tests_path %></li>
        <li><%= link_to "Группы", groups_path %></li>
        <li><%= link_to "Ученики", users_path %></li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
